<div class="container-fluid anime-container">
  <div class="row">
    <div class=" col-sm-12 cart__list_title">
      <h1>All Anime</h1>
      <nav class="navbar">
        <form class="form-inline my-2 my-lg-0" ng-submit="A.search(A.title)">
          <input class="form-control mr-sm-2" type="text" ng-model="A.title" placeholder="Search">
          <button class="btn btn-custom" type="submit">Search</button>
        </form>
      </nav>
    </div>
  </div>
</div>
<div class=" anime-container">
  <div class="row">
    <!-- <div class="col-sm-3 col-xs-6 col-md-12"> -->
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" ng-repeat='element in list'>            
      <div class="card_box" ng-click="A.getAnimeInfo(element._id)">
        <a class="box_link" href="#/animelist/info/{{element.title}}" ng-click="Home.catchId(episode.anime_id)">
          <!-- <div class="card_img"> -->
            <img class="home_ep-img" ng-src= {{element.imgCap}}>
          <!-- </div> -->
        <div class="home_ep-title">
          <span>
            {{element.title}}
          </span>
        </div>
      </a>
    </div>
    </div>
  </div>
</div>